.App {
  text-align: start;
}
.addUserBox {
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #282c34;
  box-shadow: 0px 0px 5px 0px #2c2e31;
  background-color: aliceblue;
  overflow: auto;
  display: grid;
  align-items: center;
  justify-content: space-around;
}
.user-card {
  width: 250px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px #2c2e31;
  background-color: aliceblue;
  overflow: auto;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
